/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================
   BODY
========================== */

body{
    font-family:'Segoe UI',sans-serif;
    min-height:100vh;

    background:linear-gradient(
        135deg,
        #1e3a8a 0%,
        #1e3a8a 45%,
        #f8fafc 45%,
        #ffffff 100%
    );
}

/* ==========================
   PORTADA
========================== */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.hero-content{
    max-width:900px;
}

.hero-content h1{
    font-size:90px;
    color:#0f172a;
    font-weight:900;
    margin-bottom:20px;
    letter-spacing:4px;
}

.hero-content p{
    font-size:26px;
    color:#334155;
    line-height:1.7;
    margin-bottom:40px;
}

.btn{
    display:inline-block;
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:18px 40px;
    border-radius:12px;
    font-size:20px;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
}
